body, html {
    height: 100%;
  }
  
.bg {
    background-image: url(../Gallery/bgv.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*NAVIGATION BAR */
li {
    display: inline;
}
#nav2{
    float: left;
    margin-top: -77px;
    margin-left: 150px;
}
#nav1{
    background-color: brown;
    height: 60pt;
    width: 100%;
}
a{
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: bisque;
}
a:hover{
    background-color: rgba(207, 52, 52, 0.904)
}
#logo{
    margin-top: .1pt;
    height: 61pt;
    width: 105pt;
}
/*NAVIGATION BAR CSS ENDED*/

/*FOOTER*/
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: brown;
    margin-left: -6pt;
}

h2{
    color: bisque;
    font-size: 35px;
    font-family: fantasy;
}

#abt{
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
}

#abt2{
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
}