body, html {
    height: 100%;
  }

/*NAVIGATION BAR */
li {
    display: inline;
}
#nav2{
    float: left;
    margin-top: -77px;
    margin-left: 150px;
}
#nav1{
    background-color: brown;
    height: 60pt;
    width: 100%;
}
.nav4{
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: bisque;
}
a.nav4:hover{
    background-color: rgba(207, 52, 52, 0.904)
}
#logo{
    margin-top: .1pt;
    height: 61pt;
    width: 105pt;
}
/*NAVIGATION BAR CSS ENDED*/
/*BODY*/
.bg {
    background-image: url(../Gallery/bgv.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*BODY ENDED*/
#frm{
    margin-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
    font-size: 23px;
}
fieldset{
    width: 40%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
}
/*FOOTER*/
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: brown;
    margin-left: -6pt;
}


.btn{
    background-color: darkgrey;
    width: 90px;
    height: 31px;
    border-width: 5px;
    border-color: wheat;
    color: darkslategray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

input{
    width: 250px;
    height: 21px;
}