body, html {
    height: 100%;
}
  
.bg {
    /* The image used */
    background-image: url(../Gallery/bgv.png);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fs{
    width: 25%;
    height: 350px;
}

h1, h2{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 30px;
}
#li{
    margin-top: 35px;
}
#submit{
    height: 35px;
    width: 95px;
    border-color: rgb(88, 115, 116);
    border-width: 7px;
    background-color: darkgrey;
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#sb{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input{
    height: 30px;
    width: 300px;
}

label{
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}